

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100">
      <thead class="text-xs text-white uppercase bg-blue-600 dark:text-white">
          <tr>
              {% for header in headers %}
              <th scope="col" class="px-6 py-3">
                  {{header.text}}
              </th>
              {% endfor %}
          </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr class="bg-blue-500 border-b border-blue-400">
            {% for column in row.columns %}
              {% if .loop.even %}
              <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                  {{column.text}}
              </th>
              {% eles %}
              <td class="px-6 py-4">
                  Silver
              </td>
              {% endif %}
            {% endfor %}
              <td class="px-6 py-4">
                  Laptop
              </td>
              <td class="px-6 py-4">
                  $2999
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-white hover:underline">Edit</a>
              </td>
          </tr>
        {% endfor %}
          <tr class="bg-blue-600 border-b border-blue-400">
              <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                  Microsoft Surface Pro
              </th>
              <td class="px-6 py-4">
                  White
              </td>
              <td class="px-6 py-4">
                  Laptop PC
              </td>
              <td class="px-6 py-4">
                  $1999
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-white hover:underline">Edit</a>
              </td>
          </tr>
          <tr class="bg-blue-500 border-b border-blue-400">
              <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                  Magic Mouse 2
              </th>
              <td class="px-6 py-4">
                  Black
              </td>
              <td class="px-6 py-4">
                  Accessories
              </td>
              <td class="px-6 py-4">
                  $99
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-white hover:underline">Edit</a>
              </td>
          </tr>
          <tr class="bg-blue-600 border-b border-blue-400">
              <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                  Google Pixel Phone
              </th>
              <td class="px-6 py-4">
                  Gray
              </td>
              <td class="px-6 py-4">
                  Phone
              </td>
              <td class="px-6 py-4">
                  $799
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-white hover:underline">Edit</a>
              </td>
          </tr>
          <tr class="bg-blue-500 border-blue-40">
              <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                  Apple Watch 5
              </th>
              <td class="px-6 py-4">
                  Red
              </td>
              <td class="px-6 py-4">
                  Wearables
              </td>
              <td class="px-6 py-4">
                  $999
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-white hover:underline">Edit</a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
