{% set headers = ['Head 1', 'Head 2', 'Head 2', 'Head 2', 'Head 2'] %}
{% set rows = [['Col 1 Data', 'Col 2 Data', 'Col 3 Data', 'Col 4 Data', 'Col 5 Data'], ['Col 1 Data', 'Col 2 Data', 'Col 3 Data', 'Col 4 Data', 'Col 5 Data']] %}

{% set cur_data = {'headers': headers, 'rows': rows} %}

{% set cur_data = tables.example_00 %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100">
      <thead class="text-xs text-white uppercase bg-blue-600 dark:text-white">
          <tr>
              {% for header in cur_data.headers %}
              <th scope="col" class="px-6 py-3">
                  {{header}}
              </th>
              {% endfor %}
          </tr>
      </thead>
      <tbody>
        {% for row in cur_data.rows %}
          <tr class="bg-blue-500 border-b border-blue-400">
            {% for column in row.columns %}

              {% if loop.index is even %}
              <td scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                  {{column}}
              </td>
              {% else %}
              <td class="px-6 py-4">
                {{column}}
              </td>
              {% endif %}

            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
