{% set widget_id = 'no.' %}
{% set input = {} %}
{% set output = {} %}
{% set cur_data = {'key_full': 'Yeah', 'label': 'Got some!'} %}

<div class="flex items-center">
  <input {%if output[widget_id + '.' + cur_data.key_full] %}checked{%endif%} id="__edit.{{cur_data.key_full}}" onchange="RenderWidget()" type="checkbox" value="" class="widget_checkbox w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
  <label for="__edit.{{cur_data.key_full}}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{cur_data.label}}</label>
</div>
