{% set widget_id = 'no.' %}
{% set input = {} %}
{% set output = {} %}
{% set cur_data = {'key_full': 'Yeah', 'label': 'Got some!'} %}

<!-- NOTE: This is Static logic/config.  Do not try to make anything dynamic here.  This is just a static list.  Do dynamic things elsewhere, forever. -->
<form class="max-w-sm mx-auto">
  <label for="__edit.widget_theme" class="block mb-2 text-sm font-medium text-gray-900">Theme</label>
  <select id="__edit.widget_theme" onchange="RenderWidget()" class="widget_input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    <option value="card0" {% if input['__edit.widget_type'] == 'card0' %}selected{% endif %}>Default</option>
    <option value="alternate" {% if input['__edit.widget_type'] == 'alternate' %}selected{% endif %}>Alternate</option>
    <option value="special" {% if input['__edit.widget_type'] == 'special' %}selected{% endif %}>Special</option>
    <option value="highlight" {% if input['__edit.widget_type'] == 'highlight' %}selected{% endif %}>Highlight</option>
    <option value="disabled" {% if input['__edit.widget_type'] == 'disabled' %}selected{% endif %}>Disabled</option>
    <option value="warning" {% if input['__edit.widget_type'] == 'warning' %}selected{% endif %}>Warning</option>
    <option value="attract" {% if input['__edit.widget_type'] == 'attract' %}selected{% endif %}>Attract</option>
    <option value="custom_00" {% if input['__edit.widget_type'] == 'custom_00' %}selected{% endif %}>Custom 00</option>
    <option value="custom_01" {% if input['__edit.widget_type'] == 'custom_01' %}selected{% endif %}>Custom 01</option>
    <option value="custom_02" {% if input['__edit.widget_type'] == 'custom_02' %}selected{% endif %}>Custom 02</option>
  </select>
</form>

