<!-- Color: -->
{% set field = cur_data.key_full %}
{% set title = cur_data.label %}
{% set color = 'input.color_title' %}
{% set color_value = 'input.color_title_value' %}
{% include 'component/site_editor/color_combo.html.j2' %}

