<label for="{{cur_data.key_full}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{cur_data.label}}</label>
<input value="{{ input[cur_data.key_full] }}" id="{{cur_data.key_full}}" onchange="RenderWidget()" type="range" value="50" class="widget_input w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
