

<div class="max-w-sm 
            bg-{{cur_style['__style.container.bg_color']}} 
            border-{{cur_style['__style.container.border_color']}} 
            border-{{cur_style['__style.container.border_width']}}

            {{cur_style['__style.container.padding']}}
            {{cur_style['__style.container.margin']}}
            {{cur_style['__style.container.rounded']}}

            {% if cur_style['__style.container.shadow'] == 'true' %}shadow{%endif%}

            hover:bg-{{cur_style['__style.container.hover_bg_color']}}
            hover:border-{{cur_style['__style.container.hover_border_color']}}
            hover:border-{{cur_style['__style.container.hover_border_width']}}
            "
                
            onmousedown="return MouseDownEdit(event, '{{widget_id}}')"
  >

    
{% for widget_id in widget_data.include.default %}
  {% include 'component/site_render/page_render_widget_inner.html.j2' %}
{% endfor %}

</div>
