<div class="hidden duration-700 ease-in-out" data-carousel-item>
  <img src="{{space_content[cur_data.image].path}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="{{ cur_data.alt }}">
</div>
