
<form class="max-w-sm mx-auto">
  <label for="{{field}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ title }}</label>
  <select id="{{field}}" onchange="RenderWidget()" class="widget_input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value="gray" {% if color == 'gray' %}selected{% endif %}>Gray</option>
    <option value="red" {% if color == 'red' %}selected{% endif %}>Red</option>
    <option value="yellow" {% if color == 'yellow' %}selected{% endif %}>Yellow</option>
    <option value="green" {% if color == 'green' %}selected{% endif %}>Green</option>
    <option value="blue" {% if color == 'blue' %}selected{% endif %}>Blue</option>
    <option value="indigo" {% if color == 'indigo' %}selected{% endif %}>Indigo</option>
    <option value="purple" {% if color == 'purple' %}selected{% endif %}>Purple</option>
    <option value="pink" {% if color == 'pink' %}selected{% endif %}>Pink</option>
  </select>
</form>
<input value="{{ color_value }}" id="{{field}}_value" onchange="RenderWidget()" type="range" value="50" class="widget_input w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">

