
{% if cur_widget_type == 'int' %}
  {% include 'component/site_editor/widget_type/int.html.j2' %}
  
{% elif cur_widget_type == 'color' %}
  {% include 'component/site_editor/widget_type/color.html.j2' %}

{% elif cur_widget_type == 'color_background' %}
  {% include 'component/site_editor/widget_type/color.html.j2' %}

{% elif cur_widget_type == 'icon' %}
  {% include 'component/site_editor/widget_type/icon.html.j2' %}

{% elif cur_widget_type == 'text' %}
  {% include 'component/site_editor/widget_type/text.html.j2' %}

{% elif cur_widget_type == 'checkbox' %}
  {% include 'component/site_editor/widget_type/checkbox.html.j2' %}


{% elif cur_widget_type == 'card0' %}
  {% include 'returns/api_site_editor_widget_card0.html.j2' %}

{% elif cur_widget_type == 'page_header_image' %}
  {% include 'returns/api_site_editor_widget_page_image_header.html.j2' %}

{% elif cur_widget_type == 'page_header_links' %}
  {% include 'returns/api_site_editor_widget_page_header_links.html.j2' %}

{% elif cur_widget_type == 'page_image_bar' %}
  {% include 'returns/api_site_editor_widget_page_image_bar.html.j2' %}

{% elif cur_widget_type == 'page_features' %}
  {% include 'returns/api_site_editor_widget_page_features.html.j2' %}

{% elif cur_widget_type == 'page_title_separator' %}
  {% include 'returns/api_site_editor_widget_page_title_separator.html.j2' %}

{% elif cur_widget_type == 'page_article_lead' %}
  {% include 'returns/api_site_editor_widget_page_title_article_lead.html.j2' %}

{% elif cur_widget_type == 'page_cta' %}
  {% include 'returns/api_site_editor_widget_page_cta.html.j2' %}

{% elif cur_widget_type == 'page_footer_contact_links' %}
  {% include 'returns/api_site_editor_widget_page_footer_contact_links.html.j2' %}


{% else %}
  Unknown Type: {{cur_widget_type}}
{% endif %}
