<!-- 
<b>{{widget_id}}:</b> {{widget_data}}<br>
<b>widget_data:</b> {{ widget_map }}<br>
<b>widget_spec:</b> {{ widget_spec }}<br>
<br> 
-->

<h1 id="{{widget_id}}" class="text-xl font-bold leading-tight tracking-tight text-blue-700 mb-3">{{widget_specs[map_widget_html[widget_data.widget].spec].name}}: {{map_widget_html[widget_data.widget].name}}: {{widget_id}}</h1>

{% if widget_spec and widget_spec.data %}
  {% for edit_item in widget_spec.data %}
    {% for edit_key, edit_type in edit_item.items() %}
      <!-- Edit: {{edit_item}}<br> -->

      {% include 'component/site_editor/data_type/' + edit_type + '.html.j2' %}
    {% endfor %}
  {% endfor %}
{% else %}
  {{widget_id}} has no data.<br>
{% endif %}


{% if site_page['parents'][widget_id] %}
  <a href="#" onclick="ToggleEditModal(); SetWidgetOption('__select_edit.widget_id', '{{site_page.parents[widget_id]}}'); RenderWidget('fetch')" class="block rounded my-3 p-2 border border-green-700 cursor-pointer bg-blue-200 hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
    Parent: {{site_page['parents'][widget_id]}}
  </a>
{% endif %}

<div class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg">
  {% for include_target, include_widget_ids in widget_data.include.items() %}
    <ul>

      <li>
        <div class="inline-flex rounded-md shadow-sm">
          <a href="#" aria-current="page" class="rounded-s-lg px-4 py-2 text-sm font-medium text-gray-50 bg-blue-600 border border-gray-200 hover:bg-blue-600 hover:text-gray-50 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-100">
            {{include_target}}
          </a>
          <a href="#" onclick="SetWidgetOption('__edit_widget', '{{widget_id}}'); SetWidgetOption('__edit_target', '{{include_target}}'); RenderWidget('add_widget')" class="rounded-e-lg px-4 py-2 text-sm font-medium text-gray-50 bg-blue-600 border border-gray-200 hover:bg-green-200 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-100">
            +
          </a>
        </div>
      </li>
      
      {% set widget_include_option_list = site_page['include_options'][include_target][widget_id] %}
      {% include 'component/site_editor/widget_include_select.html.j2' %}

      {% for include_widget_id in include_widget_ids %}
      <div class="inline-flex rounded-md shadow-sm">
        <a href="#" onclick="ToggleEditModal(); SetWidgetOption('__select_edit.widget_id', '{{include_widget_id}}'); RenderWidget('fetch')" aria-current="page" class="rounded-s-lg px-4 py-2 text-sm font-medium text-gray-900 bg-blue-100 border border-gray-200 hover:bg-gray-50 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-100">
          {{include_widget_id}}
        </a>
        <a href="#" onclick="SetWidgetOption('__edit_widget', '{{widget_id}}'); SetWidgetOption('__edit_target', '{{include_target}}'); SetWidgetOption('__edit_include_widget_id', '{{include_widget_id}}'); RenderWidget('raise', false)" class="px-4 py-2 text-sm font-medium text-gray-900 bg-blue-100 border border-gray-200 hover:bg-yellow-300 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-100">
          -
        </a>
        <a href="#" onclick="SetWidgetOption('__edit_widget', '{{widget_id}}'); SetWidgetOption('__edit_target', '{{include_target}}'); SetWidgetOption('__edit_include_widget_id', '{{include_widget_id}}'); RenderWidget('lower', false)" class="px-4 py-2 text-sm font-medium text-gray-900 bg-blue-100 border border-gray-200 hover:bg-blue-300 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-100">
          +
        </a>
        <a href="#" onclick="SetWidgetOption('__edit_widget', '{{widget_id}}'); SetWidgetOption('__edit_target', '{{include_target}}'); SetWidgetOption('__edit_include_widget_id', '{{include_widget_id}}'); RenderWidget('delete', false)" class="rounded-e-lg px-4 py-2 text-sm font-medium text-gray-900 bg-blue-100 border border-gray-200 hover:bg-red-300 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-100">
          X
        </a>
      </div>      

      {% endfor %}
    </ul>

{% endfor %}
</div>

