{% if not site_page %}
  {% set site_page = _context['execute.api.site_page'] %}
  {% set edit_widget_spec = site_page.edit_widget_spec %}
{% else%}
{% endif %}

<!-- Widget Item: Select which widget on the page we are editing -->
{% include 'component/site_editor/widget_item_select.html.j2' %}

<!-- Widget Type: Select which type of widget our current Widget Item is-->
{% include 'component/site_editor/widget_type_select.html.j2' %}

<!-- Widget Router: Will render all of the widget data elements recursively -->
{% for widget_id, widget_data in site_page.widgets.items() %}
  {% include 'component/site_editor/widget_router_component.html.j2' %}
{% endfor %}

