
<section class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:py-16 lg:pb-24">
    <div class="grid grid-cols-1 gap-4 sm:gap-6 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <div class="p-8 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-center w-16 h-16 rounded-lg bg-primary-100 dark:bg-primary-900">
          <svg class="w-12 h-12 text-primary-700 dark:text-primary-400" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M3 12v3c0 1.657 3.134 3 7 3s7-1.343 7-3v-3c0 1.657-3.134 3-7 3s-7-1.343-7-3z" />
            <path d="M3 7v3c0 1.657 3.134 3 7 3s7-1.343 7-3V7c0 1.657-3.134 3-7 3S3 8.657 3 7z" />
            <path d="M17 5c0 1.657-3.134 3-7 3S3 6.657 3 5s3.134-3 7-3 7 1.343 7 3z" />
          </svg>
        </div>

        <div class="mt-5">
          <h3 class="text-xl font-bold dark:text-white">
            Project Management
          </h3>

          <ul role="list" class="mt-4 space-y-4">
            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 rounded-full bg-primary-100 text-primary-700 dark:bg-primary-900 dark:text-primary-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Unified Contribution Graph
              </span>
            </li>

            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 rounded-full bg-primary-100 text-primary-700 dark:bg-primary-900 dark:text-primary-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Org activity graph
              </span>
            </li>

            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 rounded-full bg-primary-100 text-primary-700 dark:bg-primary-900 dark:text-primary-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Org dependency insights
              </span>
            </li>

            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 rounded-full bg-primary-100 text-primary-700 dark:bg-primary-900 dark:text-primary-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Milestones
              </span>
            </li>

            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 rounded-full bg-primary-100 text-primary-700 dark:bg-primary-900 dark:text-primary-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Repo insights
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="p-8 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-center w-16 h-16 bg-purple-100 rounded-lg dark:bg-purple-900">
          <svg class="w-12 h-12 text-purple-600 dark:text-purple-300" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd" />
          </svg>
        </div>

        <div class="mt-5">
          <h3 class="text-xl font-bold dark:text-white">
            Collaborative Coding
          </h3>

          <ul role="list" class="mt-4 space-y-4">
            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 text-purple-600 bg-purple-100 rounded-full dark:bg-purple-900 dark:text-purple-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Dynamic reports
              </span>
            </li>

            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 text-purple-600 bg-purple-100 rounded-full dark:bg-purple-900 dark:text-purple-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Code review assignments
              </span>
            </li>

            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 text-purple-600 bg-purple-100 rounded-full dark:bg-purple-900 dark:text-purple-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Team discussions
              </span>
            </li>

            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 text-purple-600 bg-purple-100 rounded-full dark:bg-purple-900 dark:text-purple-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Protected branches
              </span>
            </li>

            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 text-purple-600 bg-purple-100 rounded-full dark:bg-purple-900 dark:text-purple-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Draft pull requests
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="p-8 border border-gray-200 rounded-lg sm:col-span-2 lg:col-span-1 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-center w-16 h-16 mb-4 bg-teal-100 rounded-lg dark:bg-teal-900">
          <svg class="w-12 h-12 text-teal-600 dark:text-teal-300" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M6.625 2.655A9 9 0 0119 11a1 1 0 11-2 0 7 7 0 00-9.625-6.492 1 1 0 11-.75-1.853zM4.662 4.959A1 1 0 014.75 6.37 6.97 6.97 0 003 11a1 1 0 11-2 0 8.97 8.97 0 012.25-5.953 1 1 0 011.412-.088z"
              clip-rule="evenodd" />
            <path fill-rule="evenodd"
              d="M5 11a5 5 0 1110 0 1 1 0 11-2 0 3 3 0 10-6 0c0 1.677-.345 3.276-.968 4.729a1 1 0 11-1.838-.789A9.964 9.964 0 005 11zm8.921 2.012a1 1 0 01.831 1.145 19.86 19.86 0 01-.545 2.436 1 1 0 11-1.92-.558c.207-.713.371-1.445.49-2.192a1 1 0 011.144-.83z"
              clip-rule="evenodd" />
            <path fill-rule="evenodd"
              d="M10 10a1 1 0 011 1c0 2.236-.46 4.368-1.29 6.304a1 1 0 01-1.838-.789A13.952 13.952 0 009 11a1 1 0 011-1z"
              clip-rule="evenodd" />
          </svg>
        </div>

        <div class="mt-5">
          <h3 class="text-xl font-bold dark:text-white">
            Enterprise Security
          </h3>

          <ul role="list" class="mt-4 space-y-4">
            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 text-teal-600 bg-teal-100 rounded-full dark:bg-teal-900 dark:text-teal-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Required reviews
              </span>
            </li>

            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 text-teal-600 bg-teal-100 rounded-full dark:bg-teal-900 dark:text-teal-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Dependabot security and
              </span>
            </li>

            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 text-teal-600 bg-teal-100 rounded-full dark:bg-teal-900 dark:text-teal-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                Dependency graph
              </span>
            </li>

            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 text-teal-600 bg-teal-100 rounded-full dark:bg-teal-900 dark:text-teal-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                GitHub Advisory Database
              </span>
            </li>

            <li class="flex space-x-2.5">
              <div
                class="inline-flex items-center justify-center w-5 h-5 text-teal-600 bg-teal-100 rounded-full dark:bg-teal-900 dark:text-teal-400">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <span class="leading-tight text-gray-500 dark:text-gray-400">
                GPG commit signing verification
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>