

{% if execute_api_site_editor.widget_type == 'card' %}
  {% include 'returns/api_site_editor_widget_card.html.j2' %}

{% elif execute_api_site_editor.widget_type == 'team0' %}
  {% include 'returns/api_site_editor_widget_team0.html.j2' %}

{% endif %}

