

{% if execute_api_site_editor.widget_type == 'card0' %}
  {% include 'returns/api_site_editor_widget_card0.html.j2' %}

{% elif execute_api_site_editor.widget_type == 'team0' %}
  {% include 'returns/api_site_editor_widget_team0.html.j2' %}

{% elif execute_api_site_editor.widget_type == 'cta0' %}
  {% include 'returns/api_site_editor_widget_cta0.html.j2' %}

{% elif execute_api_site_editor.widget_type == 'category0' %}
  {% include 'returns/api_site_editor_widget_category0.html.j2' %}

{% elif execute_api_site_editor.widget_type == 'hero0' %}
  {% include 'returns/api_site_editor_widget_hero0.html.j2' %}

{% elif execute_api_site_editor.widget_type == 'hero1' %}
  {% include 'returns/api_site_editor_widget_hero1.html.j2' %}

{% elif execute_api_site_editor.widget_type == 'hero2' %}
  {% include 'returns/api_site_editor_widget_hero2.html.j2' %}

{% elif execute_api_site_editor.widget_type == 'table0' %}
  {% include 'returns/api_site_editor_widget_table0.html.j2' %}

{% endif %}

