{% set wdata = site_page.widget_output %}
{% set wid = cur_widget_id %}

<section class="bg-blue-400 ">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
      <div class="mx-auto text-center mb-8 lg:mb-16">
          <h2 class="text-4xl font-extrabold text-gray-50 dark:text-white">
            <span class="mt-12 {{wdata[wid+'.title.color_text']}} {{wdata[wid+'.title.bold']}} {{wdata[wid+'.title.option_uppercase']}} {{wdata[wid+'.title.text_size']}}">
              {{wdata[wid+'.title.text']}}
            </span>
            
            <button type="button" class="hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg px-5 py-2.5 text-center inline-flex items-center {{wdata[wid+'.button.rounded']}} {{wdata[wid+'.button.color_background']}} {{wdata[wid+'.button.title.color_text']}} {{wdata[wid+'.button.title.bold']}} {{wdata[wid+'.button.title.option_uppercase']}}  {{wdata[wid+'.button.title.text_size']}}">
              {{wdata[wid+'.button.title.text']}}
              <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
            </button>

          </h2>
      </div> 
  </div>
</section>