{% set wdata = site_page.widget_output %}
{% set wid = cur_widget_id %}

<section class="bg-[url('https://howland.games/images/bladegod_banner_1600_484.png')] bg-no-repeat bg-cover bg-center bg-gray-400 bg-blend-multiply">
  <div class="relative py-8 px-4 mx-auto max-w-screen-xl text-white lg:py-16 xl:px-0 z-1">
      <div class="mb-6 max-w-screen-md lg:mb-0">
          <h1 class="mb-4 {{wdata[wid+'.title.color_text']}} {{wdata[wid+'.title.bold']}} {{wdata[wid+'.title.option_uppercase']}} {{wdata[wid+'.title.text_size']}}">{{wdata[wid+'.title.text']}}</h1>
          <p class="mb-6 {{wdata[wid+'.subtitle.color_text']}} {{wdata[wid+'.subtitle.bold']}} {{wdata[wid+'.subtitle.option_uppercase']}} {{wdata[wid+'.subtitle.text_size']}}">{{wdata[wid+'.subtitle.text']}}</p>

          <div class=" items-center py-3 px-5 font-medium text-center rounded-lg focus:ring-4 focus:outline-none focus:ring-primary-900  {{wdata[wid+'.body.color_text']}} {{wdata[wid+'.body.bold']}} {{wdata[wid+'.body.option_uppercase']}} {{wdata[wid+'.body.text_size']}}">
            {{wdata[wid+'.body.text']}}

              <button type="button" class="hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium px-5 py-2.5 text-center inline-flex items-center {{wdata[wid+'.button.rounded']}} {{wdata[wid+'.button.color_background']}} {{wdata[wid+'.button.title.color_text']}} {{wdata[wid+'.button.title.bold']}} {{wdata[wid+'.button.title.option_uppercase']}}  {{wdata[wid+'.button.title.text_size']}}">
                {{wdata[wid+'.button.title.text']}}
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </button>

              <div>

          </div>
          <p class="text-xl text-white">
            {{wdata[wid+'.secondary.text']}}
          </p>
        </div> 

  </div>
</section>

