

<footer class="bg-white antialiased dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="border-b border-gray-100 py-6 dark:border-gray-700 sm:py-16 md:py-8">
      <div class="grid grid-cols-1 gap-x-12 gap-y-6 sm:grid-cols-2 md:gap-y-8 lg:grid-cols-4">
        <div class="space-y-6 md:space-y-8">
          <div>
            <h6 class="mb-4 text-sm font-semibold uppercase text-gray-900 dark:text-white">Make money with us</h6>
            <ul class="space-y-3">
              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Sell on our Marketplace </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Sell on our Digital Platform </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Affiliate </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Advertise your products </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Flowbite Pay </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Open an Shop </a>
              </li>
            </ul>
          </div>

          <div>
            <h6 class="mb-4 text-sm font-semibold uppercase text-gray-900 dark:text-white">Company</h6>
            <ul class="space-y-3">
              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Careers </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Flowbite Inc </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Marketplace & Shipping </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Corporate Sales </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Our Warehouse </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="space-y-6 md:space-y-8">
          <div>
            <h6 class="mb-4 text-sm font-semibold uppercase text-gray-900 dark:text-white">Payment Methods</h6>
            <ul class="space-y-3">
              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Visa & Mastercard </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Amex Card </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Platinum Visa & Mastercard </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Gift Cards </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Money Store </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Shop with Points </a>
              </li>
            </ul>
          </div>

          <div>
            <h6 class="mb-4 text-sm font-semibold uppercase text-gray-900 dark:text-white">Orders & Shipment</h6>
            <ul class="space-y-3">
              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> My Account </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Order Shipment </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Flowbite Marketplace </a>
              </li>

              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"> Financing Methods </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="space-y-6 md:space-y-8">
          <div>
            <h6 class="mb-4 text-sm font-semibold uppercase text-gray-900 dark:text-white">Get the latest deals and more</h6>

            <form action="#">
              <div class="space-y-4">
                <div class="relative mr-3 w-full">
                  <label for="email" class="sr-only mb-2 block text-sm font-medium text-gray-900 dark:text-gray-300"> Get the latest deals and more. </label>
                  <input class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" placeholder="Enter your email address" type="email" id="email" required="" />
                </div>
                <div>
                  <button type="submit" class="w-full cursor-pointer rounded-lg bg-primary-700 px-5 py-3 text-center text-sm font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Subscribe</button>
                </div>
              </div>
            </form>
          </div>

          <div>
            <h6 class="mb-4 text-sm font-semibold uppercase text-gray-900 dark:text-white">Our app</h6>
            <p class="mb-4 text-sm font-normal text-gray-500 dark:text-gray-400">Try our Sameday Shipping feature, manage registries and save payment info.</p>

            <div class="space-y-4">
              <a href="#" class="inline-flex  w-full items-center justify-center rounded-lg bg-gray-800 px-4 py-2.5 text-white hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-500 dark:focus:ring-gray-800">
                <svg class="mr-3 h-7 w-7" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google-play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor" d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z"></path>
                </svg>
                <div class="text-left">
                  <div class="mb-1 text-xs">Download on the</div>
                  <div class="-mt-1 font-sans text-sm font-semibold">Google Play</div>
                </div>
              </a>

              <a href="#" class="inline-flex  w-full items-center justify-center rounded-lg bg-gray-800 px-4 py-2.5 text-white hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-500 dark:focus:ring-gray-800">
                <svg class="mr-3 h-7 w-7" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="apple" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path
                    fill="currentColor"
                    d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"
                  ></path>
                </svg>
                <div class="text-left">
                  <div class="mb-1 text-xs">Download on the</div>
                  <div class="-mt-1 font-sans text-sm font-semibold">Mac App Store</div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="flex gap-8 xl:justify-center">
          <img class="h-24 w-auto" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/certificate-logo-1.svg" alt="" />
          <img class="h-24 w-auto" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/certificate-logo-2.svg" alt="" />
        </div>
      </div>
    </div>

    <div class="py-6 md:py-8">
      <div class="xl:flex xl:items-center xl:gap-8">
        <a href="#" title="" class="block shrink-0">
          <img class="block h-8 w-auto dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/logo-full.svg" alt="" />
          <img class="hidden h-8 w-auto dark:block" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/logo-full-dark.svg" alt="" />
        </a>

        <div class="mt-4 xl:mt-0 xl:border-l xl:border-gray-100 xl:pl-8 xl:dark:border-gray-700">
          <div class="flex flex-wrap items-center gap-4 text-sm">
            <p class="text-gray-500 dark:text-gray-400">© 1992-2024 <a href="#" class="hover:underline">Flowbite</a>. All rights reserved.</p>

            <ul class="flex flex-wrap items-center gap-4 text-gray-900 dark:text-white">
              <li><a href="#" title="" class="font-medium hover:underline"> Conditions of Use & Sale </a></li>
              <li><a href="#" title="" class="font-medium hover:underline"> Privacy Notice </a></li>
              <li><a href="#" title="" class="font-medium hover:underline"> Cookies Notice </a></li>
              <li><a href="#" title="" class="font-medium hover:underline"> Ads Notice </a></li>
            </ul>

            <p class="text-gray-500 dark:text-gray-400">If you are using a screen reader and are having problems using this website, please call (+123) 456-7890 for assistance.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

