<li class="flex items-center space-x-3">
  <!-- Icon -->
  <div class="flex-shrink-0 w-5 h-5 text-green-500">
    {% if icons[cur_data.icon] %}
      {{ icons[cur_data.icon].html | safe}}
    {% endif %}
  </div>
  <span>{{cur_data.text}}</span>
</li>
