<div class="
  {{cur_data.column_span}}
  {{cur_data.column_start}}
  {{cur_data.column_end}}
">
  {% for widget_id in widget_data.include.default %}
    {% include 'component/site_render/page_render_widget_inner.html.j2' %}
  {% endfor %}
</div>
