{% for widget_ref, data_ref in widget_items.items() %}

  {% set widget_data = site_page.widgets[data_ref] %}
  {% set cur_data = widget_data.data %}

  {% set html_data = page_map_widget_html[widget_ref] %}

  {% include 'component/site_render/page_render_widget.html.j2' %}

{% endfor %}

