{% if not site_page %}
  {% set site_page = {
    'render': ['page_a'], 
    'widgets': { 
      'page_a': {'widget': 'default_page', 'include': {'default': ['section_a']}, 'data': {'theme': 'default'} }, 
      'section_a': {'widget': 'default_section', 'include': {'default': []}, 'data': {'theme': 'default'} } },
    }
  %}
{% endif %}

{% if not space_style %}
  {% set space_style = _context['execute.api.space_style'] %}
{% endif %}


{% for render_ref in site_page.render %}

  {% set widget_data = site_page.widgets[render_ref] %}
  {% set cur_data = widget_data.data %}

  {% set html_data = map_widget_html[widget_data.widget] %}

  {{widget_data.data.style}}

  {% set cur_style = space_style['merged']['default'] %}

  {% include 'component/site_render/render_widget.html.j2' %}

{% endfor %}

<br>
<br>

