
{% for render_data in site_page.render %}
  {% for render_ref, widget_ref in render_data.items() %}

    {% set html_data = page_map_widget_html[render_ref] %}
    {% set widget_data = site_page.widgets[widget_ref] %}
    {% set cur_data = widget_data.data %}

    {% include 'component/site_render/page_render_widget.html.j2' %}

  {% endfor %}
{% endfor %}

<br>
<br>

