{% set widget_data = site_page.widgets[widget_id] %}
ID: {{widget_id}}<br>
Ref: {{widget_render_ref}}<br>
<br>

{% raw %}
<!-- {% set cur_data = widget_data.data %}

{% set html_data = page_map_widget_html[widget_render_ref] %}

{% include 'component/site_render/render_widget.html.j2' %} -->
{% endraw %}
