
{% include 'includes/page/page_start_minimal.html.j2' %}


    <!-- Block start -->
    <section class="bg-white dark:bg-gray-900">
      <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
          <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
              <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Powering
                  innovation at 200,000+ companies worldwide</h2>
              <p class="mb-4">Empower Developers, IT Ops, and business teams to collaborate at high velocity. Respond
                  to changes and deliver great customer and employee service experiences fast.</p>
              <a href="#"
                  class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
                  Learn more
                  <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"></path>
                  </svg>
              </a>
          </div>
          <div class="mt-4 font-light text-gray-500 sm:text-lg lg:mt-0 dark:text-gray-400">
              <p class="mb-4">Track work across the enterprise through an open, collaborative platform. Link issues
                  across Jira and ingest data from other software development tools, so your IT support and operations
                  teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
              <p>Deliver great service experiences fast - without the complexity of traditional ITSM
                  solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a
                  complete audit trail for every change.</p>
          </div>
      </div>
  </section>
  <!-- Block end -->



    <!-- Block start -->
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
              <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Powering innovation at
                  <span class="font-extrabold">200,000+</span> companies worldwide</h2>
              <p class="mb-4 font-light">Track work across the enterprise through an open, collaborative platform.
                  Link issues across Jira and ingest data from other software development tools, so your IT support
                  and operations teams have richer contextual information to rapidly respond to requests, incidents,
                  and changes.</p>
              <p class="mb-4 font-medium">Deliver great service experiences fast - without the complexity of
                  traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes
                  with ease.</p>
              <a href="#"
                  class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
                  Learn more
                  <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"></path>
                  </svg>
              </a>
          </div>
      </div>
  </section>
  <!-- Block end -->


    <!-- Block start -->
    <section class="bg-white dark:bg-gray-900">
      <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
          <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
              <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">We didn't reinvent
                  the wheel</h2>
              <p class="mb-4">We are strategists, designers and developers. Innovators and problem solvers. Small
                  enough to be simple and quick, but big enough to deliver the scope you want at the pace you need.
                  Small enough to be simple and quick, but big enough to deliver the scope you want at the pace you
                  need.</p>
              <p>We are strategists, designers and developers. Innovators and problem solvers. Small enough to be
                  simple and quick.</p>
          </div>
          <div class="grid grid-cols-2 gap-4 mt-8">
              <img class="w-full rounded-lg"
                  src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png"
                  alt="office content 1">
              <img class="mt-4 w-full lg:mt-10 rounded-lg"
                  src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png"
                  alt="office content 2">
          </div>
      </div>
  </section>
  <!-- Block end -->


    <!-- Block start -->
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:px-12 sm:text-center lg:py-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">We didn't reinvent the
              wheel</h2>
          <p class="font-light text-gray-500 sm:text-lg md:px-20 lg:px-38 xl:px-48 dark:text-gray-400">We are
              strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and
              quick, but big enough to deliver the scope you want at the pace you need.</p>
          <div class="gap-4 mt-8 sm:grid sm:grid-cols-4 sm:mt-12">
              <img class="col-span-2 mb-4 sm:mb-0 rounded-lg"
                  src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-1.png"
                  alt="content gallery 1">
              <img class="hidden col-span-1 sm:block rounded-lg"
                  src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-2.png"
                  alt="content gallery 2">
              <img class="hidden col-span-1 sm:block rounded-lg"
                  src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png"
                  alt="content gallery 3">
              <img class="hidden col-span-1 sm:block rounded-lg"
                  src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-4.png"
                  alt="content gallery 4">
              <img class="col-span-2 rounded-lg"
                  src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-5.png"
                  alt="content gallery 5">
              <img class="hidden col-span-1 sm:block rounded-lg"
                  src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-6.png"
                  alt="content gallery 6">
          </div>
      </div>
  </section>
  <!-- Block end -->


    <!-- Block start -->
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 lg:text-5xl dark:text-white">Home to
              the software teams</h2>
          <p class="font-light text-gray-500 sm:text-lg sm:px-8 lg:px-32 xl:px-64 dark:text-gray-400">Meet your
              developers where they already are. GitHub is home to over 40 million developers and the world’s largest
              open source community.</p>
          <dl
              class="grid grid-cols-2 gap-8 mx-auto mt-8 max-w-screen-md text-gray-900 lg:mt-14 sm:grid-cols-3 dark:text-white">
              <div class="flex flex-col justify-center items-center">
                  <dt class="mb-2 text-4xl font-extrabold">73M+</dt>
                  <dd class="text-xl font-normal text-gray-500 dark:text-gray-400">developers</dd>
              </div>
              <div class="flex flex-col justify-center items-center">
                  <dt class="mb-2 text-4xl font-extrabold">1B+</dt>
                  <dd class="text-xl font-normal text-gray-500 dark:text-gray-400">contributors</dd>
              </div>
              <div class="flex flex-col justify-center items-center">
                  <dt class="mb-2 text-4xl font-extrabold">4M+</dt>
                  <dd class="text-xl font-normal text-gray-500 dark:text-gray-400">organizations</dd>
              </div>
          </dl>
      </div>
  </section>
  <!-- Block end -->


    <!-- Block start -->
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:px-12 sm:text-center lg:py-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">We didn't reinvent the
              wheel</h2>
          <p class="font-light text-gray-500 sm:text-lg md:px-20 lg:px-38 xl:px-48 dark:text-gray-400">We are
              strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and
              quick, but big enough to deliver the scope you want at the pace you need.</p>
          <iframe class="mx-auto mt-8 w-full max-w-2xl h-64 rounded-lg lg:mt-12 sm:h-96"
              src="https://www.youtube.com/embed/4bnJG2UDr9A" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
      </div>
  </section>
  <!-- Block end -->


    <!-- Block start -->
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <div class="text-center text-gray-900">
              <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 lg:text-5xl dark:text-white">Turn
                  collaboration into innovation</h2>
              <a href="#"
                  class="inline-flex items-center text-lg font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
                  Learn more about inner source
                  <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"></path>
                  </svg>
              </a>
          </div>
          <div class="grid gap-6 mt-12 lg:mt-14 lg:gap-12 md:grid-cols-3">
              <div class="flex mb-2 md:flex-col md:mb-0">
                  <img class="mr-4 w-auto h-36 md:w-full md:h-auto rounded-lg"
                      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-content-1.png"
                      alt="office image" />
                  <div>
                      <h3 class="text-xl font-bold md:mt-4 mb-2.5 text-gray-900 dark:text-white">Build as one team
                      </h3>
                      <p class="text-gray-500 dark:text-gray-400">Work seamlessly across your organization on a
                          platform designed for collaboration.</p>
                  </div>
              </div>
              <div class="flex mb-2 md:flex-col md:mb-0">
                  <img class="mr-4 w-auto h-36 md:w-full md:h-auto rounded-lg"
                      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-content-2.png"
                      alt="office image 2" />
                  <div>
                      <h3 class="text-xl font-bold md:mt-4 mb-2.5 text-gray-900 dark:text-white">Transform your
                          culture</h3>
                      <p class="text-gray-500 dark:text-gray-400">Embrace innersource, iterate faster, and ship more
                          frequently using best tools from open source teams.</p>
                  </div>
              </div>
              <div class="flex md:flex-col">
                  <img class="mr-4 w-auto h-36 md:w-full md:h-auto rounded-lg"
                      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-content-3.png"
                      alt="office image 3" />
                  <div>
                      <h3 class="text-xl font-bold md:mt-4 mb-2.5 text-gray-900 dark:text-white">Learn as you build
                      </h3>
                      <p class="text-gray-500 dark:text-gray-400">Get insight into how your team builds today with
                          community-backed KPIs.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Block end -->

{% include 'includes/page/page_end_with_footer.html.j2' %}
