{% include 'includes/page/page_start_with_header.html.j2' %}


<div class="p-10">

  {% include 'includes/page/breadcrumb.html.j2' %}

  <br><br>

  <h1 class="text-3xl font-bold underline pb-3 text-blue-600">
    Value: {{ mtr.result }}
  </h1>

  <br><br>
  Sent: {{ twox.sent }}<br>
  Last: {{ twox.last }}<br>
  Best: {{ twox.best }}<br>
  Worst: {{ twox.worst }}<br>
  Average: {{ twox.average }}<br>
  <br><br>

<button 
id="showButton"
hx-post="/modal/yes_no" 
hx-target="#modals-here" 
hx-on="htmx:afterSwap: ShowTheModal();"
class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
  Open Modal
</button>
<div id="modals-here"></div>


  {% set search_prompt = "Search" %}
  {% include 'includes/generic/generic_input_search_next_table.html.j2' %}

  {{ table.table_data_dict | safe }}

  <br><br>
  {{ table.table_data_list | safe }}

  <br><br>
  
</div>  


<br><br>

{{ graph.best | safe }}
{{ graph.worst | safe }}
{{ graph.loss | safe }}

<br><br>

<p class="p-10">
  Mean Time: {{ series_mean }}
</p>


{% include 'includes/page/page_end_with_footer.html.j2' %}
