<div id="page_render">
  {% include 'component/site_render/page_render.html.j2' %}
</div>

<!-- Edit Mode -->
<!-- 
{ % include 'component/site_editor/widget_page_edit_speeddial.html.j2' % }
{ % include 'component/site_editor/widget_page_edit_sidebar.html.j2' % } 
-->

<script>
  var RenderWidgetApiSubmit = '/api/space_editor_sidebar'
  var RenderWidgetApiRerender = '/api/space_editor_render'
</script>
{% include 'includes/script/render_edit_widget.html.j2' %} 
