{% include 'includes/page/page_start_minimal.html.j2' %}

<!-- Content Sections -->
{% for page_widget in page_widgets %}
{% include page_widget %}
{% endfor %}

<!-- Edit Mode -->
{% include 'returns/api_site_editor_widget_page_edit_speeddial.html.j2' %}
{% include 'returns/api_site_editor_widget_page_edit_sidebar.html.j2' %}

{{site_page}}

<div id="site_editor_widget"></div>

{% include 'includes/page/page_end_minimal.html.j2' %}
