{% include 'includes/page/page_start_minimal.html.j2' %}

<!-- Content Sections -->
<div id="site_style">
  {% include 'component/site_style.html.j2' %}
</div>

{% include 'includes/page/page_end_minimal.html.j2' %}
