{% set cur_data = {'title': 'Content Admin'} %}
{% set cur_style = space_style.merged.default %}

{% include 'includes/page/page_start_space.html.j2' %}

<div id="page_render">
  {% include 'component/site_content_admin_view.html.j2' %}
</div>

<script>
  var RenderWidgetApiSubmit = '/api/site_content_register'
  var RenderWidgetApiRerender = '/api/content_admin'
</script>
{% include 'includes/script/render_edit_widget.html.j2' %} 

{% include 'includes/page/page_end_minimal.html.j2' %}
