{% include 'includes/page/page_start_minimal.html.j2' %}

{% set input = edit_widget_spec %}

{{input}}

<!-- Content Sections -->
<div id="site_page_full">
  {% include 'component/site_page_full.html.j2' %}
</div>

<!-- Edit Mode -->
{% include 'returns/api_site_editor_widget_page_edit_speeddial.html.j2' %}
{% include 'returns/api_site_page_edit_sidebar.html.j2' %}

{{uri}}

<div id="site_editor_widget"></div>

{% include 'includes/page/page_end_minimal.html.j2' %}
