<div id="page_render">
  {% include 'component/site_render/page_render.html.j2' %}
</div>

<script>
  var RenderWidgetApiSubmit = '/api/space_editor_new_edit'
  var RenderWidgetApiRerender = '/api/space_editor_new_render'
</script>
{% include 'includes/script/render_edit_widget.html.j2' %} 
