
<label for="__edit.{{widget_id}}.{{edit_key}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{edit_key}}</label>
<div class="flex">
  <input value="{{ widget_data.data[edit_key] }}" placeholder="Text..." onchange="RenderWidget('set', false)" type="text" id="__edit.{{widget_id}}.{{edit_key}}" class="widget_input rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>
