

<!-- NOTE: This is Static logic/config.  Do not try to make anything dynamic here.  This is just a static list.  Do dynamic things elsewhere, forever. -->
<form class="max-w-sm mx-auto">
  <label for="__edit.{{widget_id}}.{{edit_key}}" class="mb-2 text-sm font-medium text-gray-900">{{edit_key}}</label>
  <select id="__edit.{{widget_id}}.{{edit_key}}" onchange="RenderWidget()" class="widget_input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    <option value="parent" {% if widget_data.data[edit_key] == 'parent' %}selected{% endif %}>Parent</option>
    <option value="default" {% if widget_data.data[edit_key] == 'default' %}selected{% endif %}>Default</option>
    <option value="alternate" {% if widget_data.data[edit_key] == 'alternate' %}selected{% endif %}>Alternate</option>
    <option value="special" {% if widget_data.data[edit_key] == 'special' %}selected{% endif %}>Big</option>
    <option value="special" {% if widget_data.data[edit_key] == 'special' %}selected{% endif %}>Small</option>
    <option value="highlight" {% if widget_data.data[edit_key] == 'highlight' %}selected{% endif %}>Highlight</option>
    <option value="disabled" {% if widget_data.data[edit_key] == 'disabled' %}selected{% endif %}>Disabled</option>
    <option value="warning" {% if widget_data.data[edit_key] == 'warning' %}selected{% endif %}>Warning</option>
    <option value="attract" {% if widget_data.data[edit_key] == 'attract' %}selected{% endif %}>Attract</option>
    <option value="hero" {% if widget_data.data[edit_key] == 'hero' %}selected{% endif %}>Hero</option>
    <option value="promotion" {% if widget_data.data[edit_key] == 'promotion' %}selected{% endif %}>Promotion</option>
    <option value="premium" {% if widget_data.data[edit_key] == 'premium' %}selected{% endif %}>Premium</option>
    <option value="boost" {% if widget_data.data[edit_key] == 'boost' %}selected{% endif %}>Boost</option>
    <option value="spotlight" {% if widget_data.data[edit_key] == 'spotlight' %}selected{% endif %}>Spotlight</option>
    <option value="callout" {% if widget_data.data[edit_key] == 'callout' %}selected{% endif %}>Callout</option>
    <option value="exclusive" {% if widget_data.data[edit_key] == 'exclusive' %}selected{% endif %}>Exclusive</option>
    <option value="engage" {% if widget_data.data[edit_key] == 'engage' %}selected{% endif %}>Engage</option>
    <option value="iconic" {% if widget_data.data[edit_key] == 'iconic' %}selected{% endif %}>Iconic</option>
    <option value="launch" {% if widget_data.data[edit_key] == 'launch' %}selected{% endif %}>Launch</option>
    <option value="vivid" {% if widget_data.data[edit_key] == 'vivid' %}selected{% endif %}>Vivid</option>
    <option value="vip" {% if widget_data.data[edit_key] == 'vip' %}selected{% endif %}>VIP</option>
    <option value="curated" {% if widget_data.data[edit_key] == 'curated' %}selected{% endif %}>Curated</option>
    <option value="impact" {% if widget_data.data[edit_key] == 'impact' %}selected{% endif %}>Impact</option>
    <option value="limited" {% if widget_data.data[edit_key] == 'limited' %}selected{% endif %}>Limited</option>
    <option value="conversion" {% if widget_data.data[edit_key] == 'conversion' %}selected{% endif %}>Conversion</option>
    <option value="security" {% if widget_data.data[edit_key] == 'security' %}selected{% endif %}>Security</option>
    <option value="problem" {% if widget_data.data[edit_key] == 'problem' %}selected{% endif %}>Problem</option>
    <option value="error" {% if widget_data.data[edit_key] == 'error' %}selected{% endif %}>Error</option>
    <option value="critical_failure" {% if widget_data.data[edit_key] == 'critical_failure' %}selected{% endif %}>Critical Failure</option>
    <option value="verification_required" {% if widget_data.data[edit_key] == 'verification_required' %}selected{% endif %}>Verification Required</option>
    <option value="access_denied" {% if widget_data.data[edit_key] == 'access_denied' %}selected{% endif %}>Access Denied</option>
    <option value="data_breach_alert" {% if widget_data.data[edit_key] == 'data_breach_alert' %}selected{% endif %}>Data Breach Alert</option>
    <option value="blocked" {% if widget_data.data[edit_key] == 'blocked' %}selected{% endif %}>Blocked</option>
    <option value="update_required" {% if widget_data.data[edit_key] == 'update_required' %}selected{% endif %}>Update Required</option>
    <option value="maintenance_mode" {% if widget_data.data[edit_key] == 'maintenance_mode' %}selected{% endif %}>Maintenance Mode</option>
    <option value="recover_account" {% if widget_data.data[edit_key] == 'recover_account' %}selected{% endif %}>Recover Account</option>
    <option value="custom_00" {% if widget_data.data[edit_key] == 'custom_00' %}selected{% endif %}>Custom 00</option>
    <option value="custom_01" {% if widget_data.data[edit_key] == 'custom_01' %}selected{% endif %}>Custom 01</option>
    <option value="custom_02" {% if widget_data.data[edit_key] == 'custom_02' %}selected{% endif %}>Custom 02</option>
  </select>
</form>

