  <!-- Down Button -->
  <button type="button" onclick="var el = document.getElementById('{{cur_data.element_id}}'); el.value = parseInt(el.value) - 1; RenderWidget('set', false)" class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 ">
    <svg class="h-2.5 w-2.5 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
    </svg>
  </button>
  <!-- Input Int -->
  <input type="text" placeholder="" value="{{cur_data.value}}" required id="{{cur_data.element_id}}" onchange="RenderWidget('set', false)" class="widget_input w-10 shrink-0 border-0 bg-transparent text-center text-sm font-medium text-gray-900 focus:outline-none focus:ring-0" />
  <!-- Up Button -->
  <button type="button" onclick="var el = document.getElementById('{{cur_data.element_id}}'); el.value = parseInt(el.value) + 1; RenderWidget('set', false)" class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 ">
    <svg class="h-2.5 w-2.5 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
    </svg>
  </button>
