<h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">Page</h2>

  {% set cur_data = {'key_full': 'xyz.bg_color', 'label': 'Background Color'} %}
{% include 'component/site_editor/generic_widget/widget_color.html.j2' %}

  {% set cur_data = {'key_full': 'xyz.bg_color', 'label': 'Page Title'} %}
{% include 'component/site_editor/generic_widget/widget_text.html.j2' %}

