<h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">Link</h2>

<div class="columns-3 block">

  {% set label = 'Size' %}
  {% set element_id = '__style.link.text_size' %}
  {% set select_data = select.text_size %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
  
  
  {% set label = 'Bold' %}
  {% set element_id = '__style.link.text_bold' %}
  {% set select_data = select.text_bold %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}

  {% set label = 'Hover Bold' %}
  {% set element_id = '__style.link.hover_text_bold' %}
  {% set select_data = select.text_bold %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
    
  
  
  </div>
  
  <div class="columns-1 block">
  
    {% set label = 'Text Transform' %}
    {% set element_id = '__style.link.transform' %}
    {% set select_data = select.text_transform %}
    {% set cur_value = cur_style[element_id] %}
    {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
    
    {% set label = 'Hover Text Transform' %}
    {% set element_id = '__style.link.hover_transform' %}
    {% set select_data = select.text_transform %}
    {% set cur_value = cur_style[element_id] %}
    {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
    
    {% set label = 'Text Decoration' %}
    {% set element_id = '__style.link.decoration' %}
    {% set select_data = select.text_decoration %}
    {% set cur_value = cur_style[element_id] %}
    {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
    
    {% set label = 'Hover Text Decoration' %}
    {% set element_id = '__style.link.hover_decoration' %}
    {% set select_data = select.text_decoration %}
    {% set cur_value = cur_style[element_id] %}
    {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
    
    {% set label = 'Text Font Style' %}
    {% set element_id = '__style.link.font_style' %}
    {% set select_data = select.text_font_style %}
    {% set cur_value = cur_style[element_id] %}
    {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
  
    {% set label = 'Hover Text Font Style' %}
    {% set element_id = '__style.link.hover_font_style' %}
    {% set select_data = select.text_font_style %}
    {% set cur_value = cur_style[element_id] %}
    {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
      
  </div>
  
  <div class="columns-1 block mt-4">
  
  {% set cur_data = {'widget_id': '__style.link.override_color', 'label': 'Override Parent Color', 'value': cur_style['__style.link.override_color']} %}
  {% include 'component/site_editor/generic_widget/widget_checkbox.html.j2' %}
  
  {% set cur_data = {'widget_id': '__style.link.color', 'label': 'Color'} %}
  {% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}
  
    
  {% set cur_data = {'widget_id': '__style.link.override_hover_color', 'label': 'Override Parent Hover Color', 'value': cur_style['__style.link.override_hover_color']} %}
  {% include 'component/site_editor/generic_widget/widget_checkbox.html.j2' %}
  
  {% set cur_data = {'widget_id': '__style.link.hover_color', 'label': 'Hover Color'} %}
  {% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}
  
  {% set cur_data = {'widget_id': '__style.link.override_focus_color', 'label': 'Override Parent Focus Color', 'value': cur_style['__style.link.override_focus_color']} %}
  {% include 'component/site_editor/generic_widget/widget_checkbox.html.j2' %}
  
  {% set cur_data = {'widget_id': '__style.link.focus_color', 'label': 'Focus Color'} %}
  {% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}
  
  {% set cur_data = {'widget_id': '__style.link.override_ring_color', 'label': 'Override Parent Ring Color', 'value': cur_style['__style.link.override_ring_color']} %}
  {% include 'component/site_editor/generic_widget/widget_checkbox.html.j2' %}
  
  {% set cur_data = {'widget_id': '__style.link.ring_color', 'label': 'Ring Color'} %}
  {% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}
  
  </div>