<h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">Page</h2>

{% include 'component/site_editor/generic_widget/widget_int.html.j2' %}

{% include 'component/site_editor/generic_widget/widget_color.html.j2' %}
