<h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">Section</h2>


<div class="columns-3 block">

{% set label = 'Padding' %}
{% set element_id = '__style.section.padding' %}
{% set select_data = [{'parent': 'Use Parent'}, {'p-0': '0 em'}, {'p-2': '2 em'}, {'p-4': '4 em'}, {'p-6': '6 em'}, {'p-8': '8 em'}, {'p-12': '12 em'}, {'p-16': '16 em'}, {'p-24': '24 em'}, {'p-32': '32 em'}] %}
{% set cur_value = cur_style[element_id] %}
{% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}


{% set label = 'Margin' %}
{% set element_id = '__style.section.margin' %}
{% set select_data = [{'parent': 'Use Parent'}, {'m-0': '0 em'}, {'m-2': '2 em'}, {'m-4': '4 em'}, {'m-6': '6 em'}, {'m-8': '8 em'}, {'m-12': '12 em'}, {'m-16': '16 em'}, {'m-24': '24 em'}, {'m-32': '32 em'}] %}
{% set cur_value = cur_style[element_id] %}
{% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}

{% set label = 'Rounded' %}
{% set element_id = '__style.section.rounded' %}
{% set select_data = [{'parent': 'Use Parent'}, {'rounded-none': 'Square Corners'}, {'rounded-sm': 'Rounded Small'}, {'rounded': 'Rounded'}, {'rounded-md': 'Rounded Medium'}, {'rounded-lg': 'Rounded Large'}, {'rounded-xl': 'Rounded XL'}, {'rounded-2xl': 'Rounded 2XL'}, {'rounded-full': 'Rounded Full'}] %}
{% set cur_value = cur_style[element_id] %}
{% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}

</div>

{% set cur_data = {'widget_id': '__style.section.bg_color', 'label': 'Background Color'} %}
{% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}

<div class="columns-2 block">
{% set cur_data = {'widget_id': '__style.section.border_color', 'label': 'Border Color'} %}
{% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}

{% set label = 'Border Width' %}
{% set element_id = '__style.section.border_width' %}
{% set select_data = [{'0': 'No Border'}, {'2': '2px'}, {'4': '4px'}, {'8': '8px'}] %}
{% set cur_value = cur_style[element_id] %}
{% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}

</div>
