<h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">Button</h2>


<div class="columns-3 block">
  
  {% set label = 'Padding' %}
  {% set element_id = '__style.button.padding' %}
  {% set select_data = select.padding %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
  
  
  {% set label = 'Alignment' %}
  {% set element_id = '__style.button.alignment' %}
  {% set select_data = select.text_alignment %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
  
  
  {% set label = 'Rounded' %}
  {% set element_id = '__style.button.rounded' %}
  {% set select_data = select.rounded %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}

    
  {% set label = 'Shadow' %}
  {% set element_id = '__style.button.shadow' %}
  {% set select_data = select.shadow %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}

  
  {% set label = 'Width' %}
  {% set element_id = '__style.button.width' %}
  {% set select_data = select.width %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
  
  
  {% set label = 'Width Min' %}
  {% set element_id = '__style.button.width_min' %}
  {% set select_data = select.width_min %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
  
  
  {% set label = 'Width Max' %}
  {% set element_id = '__style.button.width_max' %}
  {% set select_data = select.width_max %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
  

  {% set label = 'Height' %}
  {% set element_id = '__style.button.height' %}
  {% set select_data = select.height %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}

  </div>
  
  
  <div class="columns-1 block mt-4">
  
  {% set cur_data = {'widget_id': '__style.button.color', 'label': 'Color'} %}
  {% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}
    
  {% set cur_data = {'widget_id': '__style.button.hover_color', 'label': 'Hover Color'} %}
  {% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}
  
  {% set cur_data = {'widget_id': '__style.button.focus_color', 'label': 'Focus Color'} %}
  {% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}
  
  
  
  {% set label = 'Border Width' %}
  {% set element_id = '__style.button.border_width' %}
  {% set select_data = select.border_width %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}

  {% set cur_data = {'widget_id': '__style.button.border_color', 'label': 'Border Color'} %}
  {% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}


  {% set cur_data = {'widget_id': '__style.button.hover_border_color', 'label': 'Hover Border Color'} %}
  {% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}


  {% set cur_data = {'widget_id': '__style.button.focus_border_color', 'label': 'Focus Border Color'} %}
  {% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}

  
  {% set label = 'Ring Width' %}
  {% set element_id = '__style.button.ring_width' %}
  {% set select_data = select.ring_width %}
  {% set cur_value = cur_style[element_id] %}
  {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}

  {% set cur_data = {'widget_id': '__style.button.ring_color', 'label': 'Ring Color'} %}
  {% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}
  
  </div>

