<h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">List</h2>

<div class="columns-3 block">

{% set label = 'Margin' %}
{% set element_id = '__style.list.margin' %}
{% set select_data = [{'parent': 'Use Parent'}, {'m-0': '0 em'}, {'m-2': '2 em'}, {'m-4': '4 em'}, {'m-6': '6 em'}, {'m-8': '8 em'}, {'m-12': '12 em'}, {'m-16': '16 em'}, {'m-24': '24 em'}, {'m-32': '32 em'}] %}
{% set cur_value = cur_style[element_id] %}
{% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}


{% set label = 'Alignment' %}
{% set element_id = '__style.list.alignment' %}
{% set select_data = [{'parent': 'Use Parent'}, {'text-left': 'Left'}, {'text-center': 'Center'}, {'text-right': 'Right'}, {'text-justify': 'Justify'}] %}
{% set cur_value = cur_style[element_id] %}
{% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}

</div>
