<h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-amber-600 dark:text-white">Page</h2>

<div class="columns-2 block">

{% set cur_data = {'widget_id': '__style.page.bg_color', 'label': 'Background Color'} %}
{% include 'component/site_editor/generic_widget/widget_color_grid.html.j2' %}

{% set cur_data = {'widget_id': '__style.page.favicon', 'label': 'Fav Icon Override'} %}
{% include 'component/site_editor/generic_widget/widget_text.html.j2' %}

</div>