<span id="badge-dismiss-default" class="
  inline-flex items-center 
  px-2 py-1 me-2 
  text-sm font-medium 
  rounded
  {{cur_item.text_color}}
  {{cur_item.bg_color}}
">
  {{ cur_item.value }}
  {% if cur_item.allow_delete %}
  <button type="button" 
          onclick="SetWidgetOption('{{cur_item.delete_command}}', '{{cur_item.delete_field}}'); RenderWidget('delete', false)" 
          data-dismiss-target="#badge-dismiss-default" aria-label="Remove" 
          class="
      inline-flex items-center 
      p-1 ms-2 
      text-sm text-blue-400 
      bg-transparent rounded-sm 
      hover:bg-blue-200 hover:text-blue-900
  ">
    <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
    </svg>
    <span class="sr-only">Remove badge</span>
  </button>
{% endif %}
</span>
