
<div class="size-2/4 ml-80">
  <canvas id="{{ generic_graph.element }}"></canvas>
</div>

<script>
  const data_{{ generic_graph.element }} = {
    labels: [{{ generic_graph.labels_csv | safe }} ],
    datasets: [{
      label: '{{ generic_graph.label }}',
      data: [{{ generic_graph.timeseries_csv | safe }}],
      fill: false,
      borderColor: 'rgb(23, 3, 252)',
      tension: 0.1
    }]
  };

  const config_{{ generic_graph.element }} = {
    type: 'line',
    data: data_{{ generic_graph.element }},
  };

  const ctx_{{ generic_graph.element }} = document.getElementById('{{ generic_graph.element }}');

  new Chart(ctx_{{ generic_graph.element }}, config_{{ generic_graph.element }});

</script>

