<div data-popover id="popover-{{uuid}}" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
    <div class="p-3 space-y-2">
        <h3 class="font-semibold text-gray-900 dark:text-white">
            {{ title }}
        </h3>
        <p>
            {{ info  }}
        </p>
        {% if subtitle %}
        <h3 class="font-semibold text-gray-900 dark:text-white">
            {{ subtitle }}
        </h3>
        {% endif %}
        {% if subinfo %}
        <p>
            {{ subinfo }}
        </p>
        {% endif %}
        {% if url %}
        <a href="{{ url }}" class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">
            See Details
            <svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/></svg>
        </a>
        {% endif %}
    </div>
    <div data-popper-arrow></div>
</div>