{% include 'includes/page/page_start_space.html.j2' %}

{% for widget_id in widget_data.include.default %}
  {% include 'component/site_render/page_render_widget_inner.html.j2' %}
{% endfor %}

{% include 'includes/page/page_end_minimal.html.j2' %}
