{% if not site_page %}
  {% set site_page = _context['execute.api.site_page'] %}
{% endif %}


{% if not space_style %}
  {% set space_style = _context['execute.api.space_style'] %}
{% endif %}

<!-- space_style:  {{space_style}} -->

{% set cur_style = space_style['actual'][space_style['__control.style']] %}

<!-- cur_style:  {{cur_style}} -->


<h1 class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Site Theme</h1>
<p class="text-center mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
  Specify the styles available.
</p>

<input type="hidden" id="__control.current_style" value="{{space_style['__current']}}" class="widget_input">


<div class="columns-1">
  {% set cur_data = {'widget_id': '__control.style', 'label': 'Selected Style', 'value': space_style.__current} %}
  {% include 'component/site_editor/generic_widget/widget_select_style.html.j2' %}

  {% if space_style['__control.style'] != 'default' %}
    {% set cur_data = {'widget_id': '__style.style.parent', 'label': 'Parent Style', 'value': cur_style['__style.style.parent']} %}
    {% include 'component/site_editor/generic_widget/widget_select_style.html.j2' %}
  {% endif %}
</div>

<div id="">
  <div class="p-4 rounded-lg bg-gray-200" id="content-1" role="tabpanel" aria-labelledby="content-1-tab">
    {% include 'component/site_editor/site_style/style_page.html.j2' %}
  </div>
  <div class="p-4 rounded-lg bg-gray-100" id="content-2" role="tabpanel" aria-labelledby="content-2-tab">
    {% include 'component/site_editor/site_style/style_section.html.j2' %}
  </div>
  <div class="p-4 rounded-lg bg-gray-200" id="content-3" role="tabpanel" aria-labelledby="content-3-tab">
    {% include 'component/site_editor/site_style/style_container.html.j2' %}
  </div>
  <div class="p-4 rounded-lg bg-gray-100" id="content-4" role="tabpanel" aria-labelledby="content-4-tab">
    {% include 'component/site_editor/site_style/style_text.html.j2' %}
  </div>
  <div class="p-4 rounded-lg bg-gray-100" id="content-4" role="tabpanel" aria-labelledby="content-4-tab">
    {% include 'component/site_editor/site_style/style_link.html.j2' %}
  </div>
  <div class="p-4 rounded-lg bg-gray-100" id="content-4" role="tabpanel" aria-labelledby="content-4-tab">
    {% include 'component/site_editor/site_style/style_image.html.j2' %}
  </div>
  <div class="p-4 rounded-lg bg-gray-100" id="content-4" role="tabpanel" aria-labelledby="content-4-tab">
    {% include 'component/site_editor/site_style/style_button.html.j2' %}
  </div>
</div>  

<iframe id="view_page_render" src="/plan00" style="border:none;" title="Include a page so we can test" width="100%" height="1920px"></iframe>
