<h2 class="mb-4 text-3xl text-center font-extrabold leading-none tracking-tight text-blue-500 p-6">Site Products</h2>


<section class="bg-white py-8 antialiased md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">

    
    <form class="max-w-lg mx-auto">
      <div class="flex">
          <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label>
          <button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">
              All Types
              <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
          </button>
          <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                {% for item_pair in select.content_type %}
                  {% for item_key, item_label in item_pair.items() %}
                  <li>
                      <button type="button" onclick="console.log('Type Select: {{item_key}}')" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{item_label}}</button>
                  </li>
                  {% endfor %}
                {% endfor %}
              </ul>
          </div>
          <div class="relative w-full">
              <input type="search" id="search-dropdown" 
                  class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500" 
                  placeholder="Search content..." required 
                  _="on keyup
                  if the event's key is 'Escape'
                    set my value to ''
                    trigger keyup
                  else
                  show <content-chunk/> in #content-search-list when its textContent.toLowerCase() contains my value.toLowerCase()"
              />
              <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                  </svg>
                  <span class="sr-only">Search</span>
              </button>
          </div>
      </div>
    </form>


<script>
  function AddNewDomain() {
    // var el = document.getElementById('__add.new.product_name')
    // console.log(el.value);

    RenderWidget('set', false)
  }
</script>

    <!-- Main Column -->
    <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8" id="content-search-list">
      <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
        <div class="space-y-6">


          <!-- Add New Domain: Always Present -->
          <content-chunk class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm block">
            <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
              <div class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">

                {% set cur_data = {'element_id': '__add.new.product_name', 'label': 'Add Product Name'} %}
                {% include 'component/site_render/form/text/text_dynamic.html.j2' %}

                <button type="button" onclick="AddNewDomain()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                  Add New Product
                </button>

                <!-- Control Button Line -->
                <div class="flex items-center gap-4">

                  <!-- Control: Edit Data -->
                  <!-- <button type="button" onclick="document.getElementById('add_a_label_new').classList.toggle('hidden')" class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-900 hover:underline">
                    <span class="pe-1">
                      {{icons['edit'].html|safe}}
                    </span>
                    Edit Data
                  </button> -->

                  <!-- Control: Delete -->
                  <!-- <button type="button" onclick="document.getElementById('delete_this_new').classList.toggle('hidden')" class="inline-flex items-center text-sm font-medium text-red-600 hover:underline">
                    <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                    Delete Content
                  </button> -->

                </div>

                <!-- Add Labels -->
                <div id="add_a_label_new" class="hidden">

                  <!-- <div class="block ps-2">
                    <div>
                      {% set label = 'Add Site Label' %}
                      {% set element_id = '__add.new.label_site' %}
                      {% set select_data = select.label_site %}
                      {% set cur_value = 0 %}
                      { % include 'component/site_editor/generic_widget/widget_select_data.html.j2' % }
                    </div>
                  </div>

                  <div class="block ps-2">
                    <div>
                      {% set label = 'Add Custom Label' %}
                      {% set element_id = '__add.new.label_custom' %}
                      {% set select_data = select.label_custom %}
                      {% set cur_value = 0 %}
                      { % include 'component/site_editor/generic_widget/widget_select_data.html.j2' % }
                    </div>
                  </div> -->
                  
                  <!-- {% set cur_item = {'data': [], 'element_prefix': '__custom_tag.new', 'label': 'Set Custom Tags', 'allow_new': True, 'allow_delete': True, 'placeholder': 'Custom tag text...', 'label_add_class': 'ps-9 pt-1'} %}
                  { % include 'component/site_render/form/list/text/text_list_simple.html.j2' % } -->


                </div>

                <!-- Delete this Item -->
                <div id="delete_this_new" class="hidden">
                  Confirm Delete: 
                  <button type="button" onclick="SetWidgetOption('__delete_product.{{loop_uuid}}', 'true'); RenderWidget('delete', false)" class="inline-flex items-center text-sm font-medium text-red-100 bg-red-800 m-2 p-2 rounded hover:bg-red-600">
                    <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                    Delete this Item
                  </button>
                </div>

              </div>
            </div>
          </content-chunk>


          {% if space_products %}
          {% for loop_uuid, loop_item in space_products.items() %}
          {% if not loop_uuid.startswith('__') %}

          <content-chunk class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm block">
            <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
              <div class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">

                <div class="p-2">
                  {{ loop_item.name }}
                </div>

                {% set cur_data = {'element_id': '__add_new_product.' + loop_uuid, 'label': 'Add Page Path'} %}
                {% include 'component/site_render/form/text/text_dynamic.html.j2' %}

                <button type="button" onclick="AddNewDomain()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                  Add Page Path
                </button>

                {% for path in loop_item.paths %}
                <div class="p-2 border-2 rounded">
                    <button type="button" onclick="document.getElementById('delete_path_confirm_{{loop_uuid}}.{{path}}').classList.toggle('hidden')" class="inline-flex items-center text-sm font-medium text-red-600 hover:underline">
                      <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                      </svg>
                    </button>  
                    <a href="http://{{loop_item.name}}:4040{{path}}">Path: {{path}}</a>
                    <button type="button" id="delete_path_confirm_{{loop_uuid}}.{{path}}" onclick="SetWidgetOption('__delete_product_path.{{loop_uuid}}.{{path}}', 'true'); RenderWidget('delete', false)" class="hidden inline-flex items-center text-sm font-medium text-red-600 hover:underline">
                      <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                      </svg>
                      Confirm Delete
                    </button>  
                </div>

                {% endfor %}

                <!-- Control Button Line -->
                <div class="flex items-center gap-4">

                  <!-- Control: Edit Data -->
                  <button type="button" onclick="document.getElementById('add_a_label_{{loop_uuid}}').classList.toggle('hidden')" class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-900 hover:underline">
                    <span class="pe-1">
                      {{icons['edit'].html|safe}}
                    </span>
                    Edit Data
                  </button>

                  <!-- Control: Delete -->
                  <button type="button" onclick="document.getElementById('delete_this_{{loop_uuid}}').classList.toggle('hidden')" class="inline-flex items-center text-sm font-medium text-red-600 hover:underline">
                    <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                    Delete Content
                  </button>

                </div>

                <!-- Add Labels -->
                <div id="add_a_label_{{loop_uuid}}" class="hidden">

                  <!-- <div class="block ps-2">
                    <div>
                      {% set label = 'Add Site Label' %}
                      {% set element_id = '__add.new.label_site' %}
                      {% set select_data = select.label_site %}
                      {% set cur_value = 0 %}
                      { % include 'component/site_editor/generic_widget/widget_select_data.html.j2' % }
                    </div>
                  </div>

                  <div class="block ps-2">
                    <div>
                      {% set label = 'Add Custom Label' %}
                      {% set element_id = '__add.new.label_custom' %}
                      {% set select_data = select.label_custom %}
                      {% set cur_value = 0 %}
                      { % include 'component/site_editor/generic_widget/widget_select_data.html.j2' % }
                    </div>
                  </div> -->
                  
                  <!-- {% set cur_item = {'data': [], 'element_prefix': '__custom_tag.new', 'label': 'Set Custom Tags', 'allow_new': True, 'allow_delete': True, 'placeholder': 'Custom tag text...', 'label_add_class': 'ps-9 pt-1'} %}
                  { % include 'component/site_render/form/list/text/text_list_simple.html.j2' % } -->


                </div>

                <!-- Delete this Item -->
                <div id="delete_this_{{loop_uuid}}" class="hidden">
                  Confirm Delete: 
                  <button type="button" onclick="SetWidgetOption('__delete_product.{{loop_uuid}}', 'true'); RenderWidget('delete', false)" class="inline-flex items-center text-sm font-medium text-red-100 bg-red-800 m-2 p-2 rounded hover:bg-red-600">
                    <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                    Delete this Item
                  </button>
                </div>

              </div>
            </div>
          </content-chunk>

          {% endif %}
          {% endfor %}
          {% endif %}

        </div>

      </div>

      <!-- Side Column: Right -->
      <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
          <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm  sm:p-6">
            <p class="text-xl font-semibold text-gray-900">Order summary</p>

            <div class="space-y-4">
              <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500">Original price</dt>
                  <dd class="text-base font-medium text-gray-900">$7,592.00</dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500">Savings</dt>
                  <dd class="text-base font-medium text-green-600">-$299.00</dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500">Store Pickup</dt>
                  <dd class="text-base font-medium text-gray-900">$99</dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500">Tax</dt>
                  <dd class="text-base font-medium text-gray-900">$799</dd>
                </dl>
              </div>

              <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2">
                <dt class="text-base font-bold text-gray-900">Total</dt>
                <dd class="text-base font-bold text-gray-900">$8,191.00</dd>
              </dl>
            </div>

            <a href="#" class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 ">Proceed to Checkout</a>

            <div class="flex items-center justify-center gap-2">
              <span class="text-sm font-normal text-gray-500 "> or </span>
              <a href="#" title="" class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline">
                Continue Shopping
                <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
                </svg>
              </a>
            </div>
          </div>

          <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6">
            <form class="space-y-4">
              <div>
                <label for="voucher" class="mb-2 block text-sm font-medium text-gray-900 "> Do you have a voucher or gift card? </label>
                <input type="text" id="voucher" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 " placeholder="" required />
              </div>
              <button type="submit" class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 ">Apply Code</button>
            </form>
          </div>
      </div>
    
    </div>
  </div>
</section>

