<h2 class="mb-4 text-3xl text-center font-extrabold leading-none tracking-tight text-blue-500 p-6">Site Contents</h2>


{% include 'component/site_render/upload/upload_default.html.j2' %}

<section class="bg-white py-8 antialiased md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">


    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0 pt-6">

      <form class="max-w-md mx-auto">   
        <label for="content-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="content-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 " 
              placeholder="Filter..." required 
              _="on keyup
              if the event's key is 'Escape'
                set my value to ''
                trigger keyup
              else
              show <content-chunk/> in #content-search-list when its textContent.toLowerCase() contains my value.toLowerCase()"
            />
            <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 ">Search</button>
        </div>
      </form>
    </div>    

    <!-- Main Column -->
    <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8" id="content-search-list">
      <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
        <div class="space-y-6">

          {% if space_content %}
          {% for loop_uuid, loop_item in space_content.items() %}
          {% if not loop_uuid.startswith('__') %}

          <content-chunk class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm block">
            <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
              <!-- Image -->
              <a href="#" class="shrink-0 md:order-1">
                <img class="w-20 dark:hidden" src="/content/{{loop_item.path}}" alt="image" />
                <img class="hidden w-20 dark:block" src="/content/{{loop_item.path}}" alt="image" />
              </a>

              <!-- Priority -->
              <label for="counter-input" class="sr-only">Priority:</label>
              <div class="flex items-center justify-between md:order-3 md:justify-end">
                <div class="flex items-center">
                  <!-- Down Button -->
                  <button type="button" onclick="var el = document.getElementById('__set.{{loop_item.uuid|string}}.priority'); el.value = parseInt(el.value) - 1;" class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 ">
                    <svg class="h-2.5 w-2.5 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
                    </svg>
                  </button>
                  <!-- Input Int -->
                  <input type="text" placeholder="" value="{{loop_item.priority}}" required id="__set.{{loop_item.uuid|string}}.priority"  class="w-10 shrink-0 border-0 bg-transparent text-center text-sm font-medium text-gray-900 focus:outline-none focus:ring-0" />
                  <!-- Up Button -->
                  <button type="button" onclick="var el = document.getElementById('__set.{{loop_item.uuid|string}}.priority'); el.value = parseInt(el.value) + 1;" class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 ">
                    <svg class="h-2.5 w-2.5 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                    </svg>
                  </button>
                </div>
                <div class="text-end md:order-4 md:w-32">
                  <p class="text-base font-bold text-gray-900">${{loop_item.cost}}</p>
                </div>
              </div>

              <div class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">
                <!-- Labels: Strict:  Limited data associated with a string and data-domain (ex: site, custom, gen, etc) -->
                {% for label in loop_item.labels %}
                  {% if label.startswith('gen:') %}
                    {% set cur_item = {'value': label.replace('gen:', ''), 'text_color': 'text-red-800', 'bg_color': 'bg-red-100', 'allow_delete': False } %}

                  {% elif label.startswith('custom:') %}
                    {% set cur_item = {'value': label.replace('custom:', ''), 'text_color': 'text-blue-800', 'bg_color': 'bg-blue-100', 'allow_delete': True, 'delete_command': '__delete_label.'+loop_uuid, 'delete_field': label } %}

                  {% elif label.startswith('site:') %}
                    {% set cur_item = {'value': label.replace('site:', ''), 'text_color': 'text-green-800', 'bg_color': 'bg-green-100', 'allow_delete': True, 'delete_command': '__delete_label.'+loop_uuid, 'delete_field': label } %}

                  {% else %}
                    {% set cur_item = {'value': label, 'text_color': 'text-gray-800', 'bg_color': 'bg-gray-100', 'allow_delete': True, 'delete_command': '__delete_label.'+loop_uuid, 'delete_field': label } %}

                  {% endif %}

                  {% include 'component/site_render/badge/badge_chip.html.j2' %}
                {% endfor %}

                <!-- Tags: Loose:  List of strings -->
                {% for tag in loop_item.tags %}
                  {% set cur_item = {'value': tag, 'text_color': 'text-stone-50', 'bg_color': 'bg-stone-600', 'allow_delete': True, 'delete_command': '__delete_tag.'+loop_uuid, 'delete_field': tag} %}
                  {% include 'component/site_render/badge/badge_chip.html.j2' %}
                {% endfor %}

                {% set cur_item = {'value': loop_item.filename, 'text_color': 'text-slate-50', 'bg_color': 'bg-slate-600', 'allow_delete': False} %}
                {% include 'component/site_render/badge/badge_chip.html.j2' %}

                <!-- Rating & Control Button Line -->
                <div class="flex items-center gap-4">
                  <!-- Rating -->
                  {% set cur_item = {'value': loop_item.rating, 'count': loop_item.rating_count, 'show_count': False } %}
                  {% include 'component/site_render/rating/rating_stars.html.j2' %}

                  <!-- Control: Edit Data -->
                  <button type="button" onclick="document.getElementById('add_a_label_{{ loop_item.uuid }}').classList.toggle('hidden')" class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-900 hover:underline">
                    <span class="pe-1">
                      {{icons['edit'].html|safe}}
                    </span>
                    Edit Data
                  </button>

                  <!-- Control: Delete -->
                  <button type="button" onclick="document.getElementById('delete_this_{{ loop_item.uuid }}').classList.toggle('hidden')" class="inline-flex items-center text-sm font-medium text-red-600 hover:underline">
                    <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                    Delete Content
                  </button>

                </div>

                <!-- Add Labels -->
                <div id="add_a_label_{{ loop_item.uuid }}" class="hidden">

                  <div class="block ps-2">
                    <div>
                      {% set label = 'Set Ratings' %}
                      {% set element_id = '__set.' + loop_item.uuid|string + '.rating' %}
                      {% set select_data = select.rating_score %}
                      {% set cur_value = loop_item.rating|string %}
                      {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
                    </div>
                  </div>

                  <div class="block ps-2">
                    <div>
                      {% set label = 'Add Site Label' %}
                      {% set element_id = '__add.' + loop_item.uuid|string + '.label_site' %}
                      {% set select_data = select.label_site %}
                      {% set cur_value = 0 %}
                      {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
                    </div>
                  </div>

                  <div class="block ps-2">
                    <div>
                      {% set label = 'Add Custom Label' %}
                      {% set element_id = '__add.' + loop_item.uuid|string + '.label_custom' %}
                      {% set select_data = select.label_custom %}
                      {% set cur_value = 0 %}
                      {% include 'component/site_editor/generic_widget/widget_select_data.html.j2' %}
                    </div>
                  </div>
                  
                  {% set cur_item = {'data': loop_item.tags, 'element_prefix': '__custom_tag.' + loop_item.uuid|string, 'label': 'Set Custom Tags', 'allow_new': True, 'allow_delete': True, 'placeholder': 'Custom tag text...', 'label_add_class': 'ps-9 pt-1'} %}
                  {% include 'component/site_render/form/list/text/text_list_simple.html.j2' %}


                </div>

                <!-- Delete this Item -->
                <div id="delete_this_{{ loop_item.uuid }}" class="hidden">
                  Confirm Delete: 
                  <button type="button" onclick="document.getElementById('delete_this_{{ loop_item.uuid }}').classList.toggle('hidden')" class="inline-flex items-center text-sm font-medium text-red-100 bg-red-800 m-2 p-2 rounded hover:bg-red-600">
                    <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                    Delete this Item
                  </button>
                </div>

              </div>
            </div>
          </content-chunk>

          {% endif %}
          {% endfor %}
          {% endif %}

        </div>

      </div>

      <!-- Side Column: Right -->
      <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
          <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm  sm:p-6">
            <p class="text-xl font-semibold text-gray-900">Order summary</p>

            <div class="space-y-4">
              <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500">Original price</dt>
                  <dd class="text-base font-medium text-gray-900">$7,592.00</dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500">Savings</dt>
                  <dd class="text-base font-medium text-green-600">-$299.00</dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500">Store Pickup</dt>
                  <dd class="text-base font-medium text-gray-900">$99</dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500">Tax</dt>
                  <dd class="text-base font-medium text-gray-900">$799</dd>
                </dl>
              </div>

              <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2">
                <dt class="text-base font-bold text-gray-900">Total</dt>
                <dd class="text-base font-bold text-gray-900">$8,191.00</dd>
              </dl>
            </div>

            <a href="#" class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 ">Proceed to Checkout</a>

            <div class="flex items-center justify-center gap-2">
              <span class="text-sm font-normal text-gray-500 "> or </span>
              <a href="#" title="" class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline">
                Continue Shopping
                <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
                </svg>
              </a>
            </div>
          </div>

          <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6">
            <form class="space-y-4">
              <div>
                <label for="voucher" class="mb-2 block text-sm font-medium text-gray-900 "> Do you have a voucher or gift card? </label>
                <input type="text" id="voucher" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 " placeholder="" required />
              </div>
              <button type="submit" class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 ">Apply Code</button>
            </form>
          </div>
      </div>
    
    </div>
  </div>
</section>


