{% if cur_data.label %}
<label for="{{cur_data.widget_id}}" class="block text-sm font-medium text-gray-900">{{cur_data.label}}</label>
{% endif %}
<input type="text" placeholder="" value="{{cur_data.value}}" id="{{cur_data.element_id}}" __off__onchange="" 
        class="widget_input rounded text-start font-medium text-gray-900 focus:outline-none focus:ring-0"
/>
