<input type="text" placeholder="" value="{{cur_data.value}}" required id="{{cur_data.element_id}}" onchange="RenderWidget('set', false)" 
        class="widget_input shrink-0 m-0 px-0 border-0 bg-transparent text-start font-medium font-bold text-gray-900 focus:outline-none focus:ring-0"
/>
