<div class="flex relative

  {% if cur_data.padding and cur_data.padding != 'parent' %}  {{cur_data.padding}}
  {% else %}                                                  {{cur_style['__style.image.padding']}}   {% endif %}

  {% if cur_data.alignment and cur_data.alignment != 'parent' %}  {{cur_data.alignment}}
  {% else %}                                                      {{cur_style['__style.image.alignment']}}   {% endif %}
">
{% for widget_id in widget_data.include.default %}
  {% include 'component/site_render/page_render_widget_inner.html.j2' %}
{% endfor %}

  <img src="{{cur_data.image}}" alt="{{cur_data.alt}}" id="image_{{widget_id}}" oncontextmenu="Cropper_Init_{{widget_id}}(); return false;"
  class="
  {% if cur_data.width and cur_data.width != 'parent' %} {{cur_data.width}}
  {% else %}                                             {{cur_style['__style.image.width']}}   {% endif %}

  {% if cur_data.width_max and cur_data.width_max != 'parent' %} {{cur_data.width_max}}
  {% else %}                                                     {{cur_style['__style.image.width_max']}}   {% endif %}

  {% if cur_data.width_min and cur_data.width_min != 'parent' %} {{cur_data.width_min}}
  {% else %}                                                     {{cur_style['__style.image.width_min']}}   {% endif %}

  {% if cur_data.height and cur_data.height != 'parent' %} {{cur_data.height}}
  {% else %}                                               {{cur_style['__style.image.height']}}   {% endif %}

  {% if cur_data.rounded and cur_data.rounded != 'parent' %} {{cur_data.rounded}}
  {% else %}                                                 {{cur_style['__style.image.rounded']}}   {% endif %}

  {% if cur_data.shadow and cur_data.shadow != 'parent' %} {{cur_data.shadow}}
  {% else %}                                               {{cur_style['__style.image.shadow']}}   {% endif %}

  ">

</div>

{% include 'component/site_editor/control_panel/image_cropper.html.j2' %}
