<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <link href="/static/css/block_api.css" rel="stylesheet" />
  <script src="/static/js/block_api.js"></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
  <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>

<div id="block-overlay" test_onclick="BlockOff()">
  <div id="block-overlay-text">Wait for it...</div>
</div>
