
<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://github.com/ghowland/opsland/" class="hover:underline">OpsLand</a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="https://github.com/ghowland/opsland/" class="hover:underline me-4 md:me-6">OpsLand Repo</a>
        </li>
        <li>
            <a href="https://github.com/ghowland/opsland-example" class="hover:underline me-4 md:me-6">OpsLand Example Repo</a>
        </li>
    </ul>
    </div>
</footer>

{% include 'includes/page/page_end_minimal.html.j2' %}
